<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reflora</title>
        <link rel="stylesheet" href="./../build/style.css" />
        <link rel="stylesheet" href="./fonts/reflora/style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    </head>

    <body>
        <section class="nv-d-none widescreen:nv-d-block">
            <aside class="vertical-bar bg-white">
                <div>
                    <img src="./images/forest.jpg" alt="profile photo" class="rounded-circle mar-h-auto mar-v-25" width="60" height="60" />

                    <ul class="list-unstyled pad-0 mar-0 vertical-bar__menu">
                        <li>
                            <a href="#"><span class="nv-i-menu"></span></a>
                        </li>
                        <li>
                            <a class="active" href=""><span class="nv-i-calc"></span></a>
                        </li>
                        <li>
                            <a href=""><i class="nv-i-growth heading-2"></i></a>
                        </li>
                        <li>
                            <a href=""><span class="nv-i-product heading-2"></span></a>
                        </li>
                        <li>
                            <a href=""><span class="nv-i-learn heading-2"></span></a>
                        </li>
                        <li>
                            <a href=""><span class="nv-i-settings"></span></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="mar-b-25 nv-d-block"><i class="nv-i-logout"></i></a>
                    <img src="./images/logo.png" alt="Reflora Brand logo" width="60" />
                </div>
            </aside>
        </section>

        <main class="widescreen:pad-l-60">
            <div class="fluid-wrapper">
                <h5 class="mar-b-15">My Calculations</h5>
                <div class="nv-row">
                    <div class="nv-col-12 desktop:nv-col-8">
                        <div class="pad-30 shadow-small border-1 border-solid border-light small-rounded widescreen:pad-h-60">
                            <p class="text-center font-weight-bold mar-b-30">You have recorder of <span class="text-secondary">2.5</span>Tons of emission</p>
                            <div class="nv-row">
                                <div class="nv-col-12 tablet:nv-col-6 mar-b-30">
                                    <div class="small-rounded border-1 border-solid border-light shadow-large text-center pad-20">
                                        <h4 class="mar-t-0">Tarana Vjajes</h4>
                                        <span class="rounded-circle pad-10 nv-i-airplane text-red border-1 border-solid border-light shadow-large"></span>
                                        <p class="mar-t-20">Flight calculator</p>
                                        <div class="text-left pad-h-20">
                                            <p><span class="nv-i-carbon-tree heading-3 pad-r-10"></span> Tons of CO<sub>2</sub>e</p>
                                            <p><span class="nv-i-energy heading-4 pad-r-10"></span> 34 Tons of offset</p>
                                            <p><span class="nv-i-project heading-4 pad-r-10"></span> Castaneous project</p>
                                        </div>
                                        <p class="text-center text-secondary text-uppercase font-weight-bold pad-t-15 mar-b-0">
                                            Carbon neutral
                                        </p>
                                    </div>
                                </div>

                                <div class="nv-col-12 tablet:nv-col-6 mar-b-30">
                                    <div class="small-rounded border-1 border-solid border-light shadow-large text-center pad-20">
                                        <h4 class="mar-t-0">Tarana Vjajes</h4>
                                        <span class="rounded-circle pad-10 nv-i-user text-brown border-1 border-solid border-light shadow-large"></span>
                                        <p class="mar-t-20">Individuals calculator</p>
                                        <div class="text-left pad-h-20">
                                            <p><span class="nv-i-carbon-tree heading-3 pad-r-10"></span> Tons of CO<sub>2</sub>e</p>
                                            <p><span class="nv-i-energy heading-4 pad-r-10"></span> 34 Tons of offset</p>
                                            <p><span class="nv-i-project heading-4 pad-r-10"></span> Castaneous project</p>
                                        </div>
                                        <p class="text-center text-red text-uppercase font-weight-bold pad-t-15 mar-b-0">
                                            Carbon negative
                                        </p>
                                    </div>
                                </div>

                                <div class="nv-col-12 tablet:nv-col-6 mar-b-30">
                                    <div class="small-rounded border-1 border-solid border-light shadow-large text-center pad-20">
                                        <h4 class="mar-t-0">Tarana Vjajes</h4>
                                        <span class="rounded-circle pad-10 bi bi-calendar-check text-purple border-1 border-solid border-light shadow-large"></span>
                                        <p class="mar-t-20">Events calculator</p>
                                        <div class="text-left pad-h-20">
                                            <p><span class="nv-i-carbon-tree heading-3 pad-r-10"></span> Tons of CO<sub>2</sub>e</p>
                                            <p><span class="nv-i-energy heading-4 pad-r-10"></span> 34 Tons of offset</p>
                                            <p><span class="nv-i-project heading-4 pad-r-10"></span> Castaneous project</p>
                                        </div>
                                        <p class="text-center text-red text-uppercase font-weight-bold pad-t-15 mar-b-0">
                                            Carbon negative
                                        </p>
                                    </div>
                                </div>

                                <div class="nv-col-12 tablet:nv-col-6 mar-b-30">
                                    <div class="small-rounded border-1 border-solid border-light shadow-large text-center pad-20">
                                        <h4 class="mar-t-0">Tarana Vjajes</h4>
                                        <span class="rounded-circle pad-10 bi bi-building text-green border-1 border-solid border-light shadow-large"></span>
                                        <p class="mar-t-20">Company calculator</p>
                                        <div class="text-left pad-h-20">
                                            <p><span class="nv-i-carbon-tree heading-3 pad-r-10"></span> Tons of CO<sub>2</sub>e</p>
                                            <p><span class="nv-i-energy heading-4 pad-r-10"></span> 34 Tons of offset</p>
                                            <p><span class="nv-i-project heading-4 pad-r-10"></span> Castaneous project</p>
                                        </div>
                                        <p class="text-center text-secondary text-uppercase font-weight-bold pad-t-15 mar-b-0">
                                            Carbon neutral
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nv-col-12 desktop:nv-col-4 text-center mar-t-50 desktop:mar-t-0">
                        <p class="text-center text-uppercase font-weight-bold pad-t-15 mar-b-0">Carbon negative</p>
                        <div class="mar-t-60 mar-b-20">
                            <span class="rounded-circle nv-circle nv-circle-70 mar-h-auto nv-i-calc text-yellow heading-1 border-1 border-solid border-light shadow-large"></span>
                        </div>
                        <p class="text-center font-weight-bold mar-b-30">We have calculated <span class="text-secondary">256</span>Tons</p>
                        <div class="mar-t-60 mar-b-20">
                            <span class="rounded-circle nv-circle nv-circle-70 mar-h-auto nv-i-energy text-secondary heading-1 border-1 border-solid border-light shadow-large"></span>
                        </div>
                        <p class="text-center font-weight-bold mar-b-30">We have offset <span class="text-secondary">200</span>Tons</p>
                        <a href="#" class="heading-4 text-capitalize text-secondary nv-d-block text-center mar-v-30">OFfset balance now</a>

                        <canvas id="myChart" class="full-width"></canvas>

                        <div class="mar-t-60 mar-b-20">
                            <span class="rounded-circle nv-circle nv-circle-70 mar-h-auto bi bi-arrow-down text-secondary heading-4 border-1 border-solid border-light shadow-large"> 10%</span>
                        </div>
                        <p class="mar-t-30">
                            You have earned <span class="text-secondary font-weight-bold">10%</span> more rebate than last month You have earned <span class="text-secondary font-weight-bold">most rebate</span> in
                            <span class="text-secondary font-weight-bold">January 2020</span>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <script src="./../build/script.js"></script>
        <script src="./js/chart.min.js"></script>
        <script>
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                data: {
                    datasets: [
                        {
                            type: "line",
                            label: "Rebate data over time",
                            data: [3, 5, 35, 50, 76, 45, 88, 120, 122, 134],
                            borderColor: "#006827",
                            pointBackgroundColor: "#006827",
                        },
                    ],
                    labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"],
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                boxWidth: 5,
                                usePointStyle: true,
                                pointStyle: "circle",
                            },
                        },
                    },
                },
            });
        </script>
    </body>
</html>
