<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reflora</title>
    <link rel="stylesheet" href="./../build/style.css" />
    <link rel="stylesheet" href="./fonts/reflora/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

</head>

<body>
    <!-- preloader -->
    <div class="loader-bg">
        <div class="loader-p"></div>
    </div>
    <!-- preloader ends -->

    <main>
        <section class="fluid-wrapper">
            <div class="nv-row">
                <div class="nv-col-12">
                    <div class="small-rounded shadow-large mar-v-60 pad-60 border-solid border-light border-1">
                        <div class="text-center">
                            <h1 class="mar-h-auto mar-t-0">CERTIFICATION</h1>
                        </div>
                        <p>Nicholas Hosannah Phillips, legal representative of <span
                                class="font-weight-bold text-uppercase">REFLORA INITIATIVE LDA</span>, a company
                            incorporated according to the Laws of Portugal, identified with NIPC 516.261.983, and having
                            its registered office at Avenida Cidade de León - Ed. Brigantia Ecopark, Bragança, Portugal,
                            certifies: </p>
                        <p>The company (include here the name of our client) legally identified with number (include
                            here the legal number of the client), with its registered office at (XX), develop a
                            financial support to the project (XX) located in (XX), which developed a carbon
                            sequestration equivalent to (XX) tons of CO2.
                        </p>

                        <p class="mar-b-60">
                            For all legal purposes and at the request of the beneficiary, I hereby issue this
                            certification, in Portugal on March 17, 2021.
                        </p>
                        <img src="./images/sign.png" alt="Signature" width="250">
                        <p>NICHOLAS HOSANNAH PHILLIPS <br>
                            Representante Legal <br>
                            Reflora Initiative LDA
                        </p>

                        <p class="text-right"><a href="#">www.reflorainitiative.com </a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="./../build/script.js"></script>

</body>

</html>