<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reflora</title>
    <link rel="stylesheet" href="./../build/style.css" />
    <link rel="stylesheet" href="./fonts/reflora/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <style>
        #home-bg {
            object-fit: contain;
            position: absolute;
            right: 0;
            aspect-ratio: 16/9;
            max-height: calc(100vh);
            object-position: right;
            z-index: 3;
        }
    </style>
</head>

<body>
    <!-- preloader -->
    <div class="loader-bg">
        <div class="loader-p"></div>
    </div>
    <!-- preloader ends -->

    <main>
        <div class="fluid-wrapper pad-0">
            <div class="nv-row nv-no-gutters">
                <div class="nv-col-12 ">
                    <img id="home-bg" src="./images/curve-bg-tree.svg" alt="Tree illustration ">
                    <div class="nv-pos-relative vh-100 full-width" style="background: #83B58B;">
                        <header class="z-index-10 nv-pos-relative">
                            <div class="fluid-wrapper">
                                <div class="nv-row nv-no-gutters nv-justify-content-between nv-align-items-center">
                                    <div class="nv-col-2 pad-0">
                                        <a href="./home.html"><img src="./images/logo.png"
                                                class="img-fluid full-width nv-col-6" alt="Reflora brand logo"></a>
                                    </div>
                                    <div class="nv-col-8">
                                        <nav class="nv-d-flex nv-justify-content-around">
                                            <ul class="nv-d-flex text-white list-unstyled pad-0 mar-v-30 nv-justify-content-around">
                                                <li><a class="text-decoration-none font-weight-bold text-white mar-h-30 pad-5"
                                                        href="./about-us.html">ABOUT US</a></li>
                                                <li><a class="text-decoration-none font-weight-bold text-white mar-h-30 pad-5"
                                                        href="./event-page.html">CALCULATOR</a></li>
                                                <li><a class="text-decoration-none font-weight-bold text-white mar-h-30 pad-5"
                                                        href="./dashboard.html">DASHBOARD</a></li>
                                            </ul>
                                            <ul class="nv-d-flex text-white list-unstyled pad-0 mar-v-30">
                                                <li><a class="text-decoration-none font-weight-bold text-white mar-h-10 border-right-2 border-0 border-white border-solid pad-r-15 pad-h-5" href="#">ENG</a>
                                                </li>
                                                <li><a class="text-decoration-none font-weight-bold text-white mar-r-30 pad-5" href="#">SPA</a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                    <div class="nv-col-2">
                                        <a class="text-decoration-none heading-3 font-weight-bold text-white mar-r-30 pad-5" href="#"><i class="bi bi-person"></i></a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="fluid-wrapper">
                          <div class="nv-col-6">
                            <h1 class="mar-60 text-white">
                                CARBON NEUTRALITY  MADE <span style="color: #D8FB4B;">ACCESSIBLE</span>
                            </h1>
                            <div class="nv-d-flex nv-align-items-center mar-l-60 z-index-10 nv-pos-relative">
                                <p class=" font-weight-bold text-white mar-0 pad-r-20">ACCELERATE TOWARDS NEUTRALITY</p>
                                <a class="pad-v-5 pad-h-20 small-rounded text-decoration-none text-white border-green border-1 bg-secondary mar-r-20" href="#">Take me there >></a>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<div class="fluid-wrapper bg-light">
    <h2 class="text-green mar-b-0">PROJECTS</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="233" height="1" viewBox="0 0 233 1" fill="none">
        <line y1="0.5" x2="151" y2="0.5" stroke="#10681B"/>
        <line x1="157" y1="0.5" x2="177" y2="0.5" stroke="#10681B"/>
        <line x1="199" y1="0.5" x2="209" y2="0.5" stroke="#10681B"/>
        <line x1="230" y1="0.5" x2="233" y2="0.5" stroke="#10681B"/>
        </svg>
</div>
    </main>
    <footer>

    </footer>
    <script src="./../build/script.js"></script>
</body>

</html>