<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reflora</title>
        <link rel="stylesheet" href="./../build/style.css" />
        <link rel="stylesheet" href="./fonts/reflora/style.css" />
        <link rel="stylesheet" href="./fonts/miluna/stylesheet.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <link rel="preload" href="./fonts/miluna/tipografia.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="./fonts/miluna/Miluna-ExtraLight.woff2" as="font" type="font/woff2" crossorigin />
    </head>

    <body class="splide">
        <main class="splide__track">
            <div class="slides impact-page splide__list">
                <!-- 1st page starts -->
                <article class="splide__slide">
                    <section class="nv-pos-relative impact-page__1">
                        <video playsinline autoplay loop muted class="nv-pos-absolute vw-100 vh-100 obj-fit-cover">
                            <source src="./videos/nature.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>

                        <div class="bg-overlay nv-pos-relative vh-100"></div>

                        <div class="nv-d-flex nv-justify-content-center vh-100 nv-align-items-center full-width nv-pos-absolute">
                            <div class="tablet:pad-v-50 tablet:mar-v-50 text-center nv-pos-relative mar-h-0">
                                <h1 class="text-white font-weight-light title mar-v-0 tablet:mar-v-auto">
                                    Power Of Nature
                                </h1>
                                <img src="./images//miluna-logo.gif" alt="Miluna Logo" class="mar-v-30 widescreen:nv-col-5" />
                                <hr class="leaf" />
                                <h5 class="text-white footer"><span class="mar-r-10 font-weight-light">Powered by</span> <img src="./images/logo-x.png" alt="Logo" width="100" class="nv-d-inline" /></h5>
                            </div>
                        </div>
                    </section>
                </article>
                <!-- 1st page ends -->
                <!-- 2nd page starts -->
                <article class="splide__slide">
                    <section class="nv-d-flex vh-100 nv-justify-content-center nv-align-items-center impact-page__2">
                        <video playsinline autoplay loop muted class="nv-pos-absolute vw-100 vh-100 obj-fit-cover">
                            <source src="./videos/service.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                        <!-- <h1 class="nv-pos-absolute text-center text-white">Forest Impact Video</h1> -->
                    </section>
                </article>
                <!-- 2nd page ends -->
                <!-- 3rd page starts -->
                <article class="splide__slide">
                    <section class="nv-d-flex vh-100 nv-justify-content-center nv-align-items-center impact-page__3">
                        <video playsinline autoplay loop muted class="nv-pos-absolute vw-100 vh-100 obj-fit-cover">
                            <source src="./videos/project.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                        <!-- <h1 class="nv-pos-absolute text-center text-white">Forest Impact Video</h1> -->
                    </section>
                </article>
                <!-- 3 page ends -->
                <!-- 4 page starts -->
                <article class="splide__slide">
                    <section class="text-center pad-0 impact-page__4">
                        <div class="vh-100" style="background: #2a4b69;">
                            <h1 class="text-center text-white full-width mar-v-0 pad-t-30">
                                "Client has ______________"
                            </h1>
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ihykb5tn.json" class="nv-pos-absolute nv-pe-none" background="transparent" speed="1" loop autoplay></lottie-player>
                            <div class="desktop:pad-h-40 vh-100">
                                <div class="skew nv-d-flex desktop:nv-justify-content-center desktop:nv-align-items-center overflow-hidden tablet:pad-t-20 mar-15 mobile:mar-t-30 tablet:mar-30">
                                    <div class="impact-card">
                                        <img src="./images/puma-wide.PNG" />
                                        <h4 class="impact-card__text">Message about the client</h4>
                                        <div class="impact-card__head">Recycling</div>
                                    </div>
                                    <div class="impact-card">
                                        <img src="./images/jaguar-wide.PNG" />
                                        <h4 class="impact-card__text">Message about the client</h4>
                                        <div class="impact-card__head">Sustainable Culture</div>
                                    </div>
                                    <div class="impact-card hover">
                                        <img src="./images/tapir-wide.PNG" />
                                        <h4 class="impact-card__text">Message about the client</h4>
                                        <div class="impact-card__head">Energy Conservation</div>
                                    </div>
                                    <div class="impact-card">
                                        <img src="./images/anteater-wide.PNG" />
                                        <h4 class="impact-card__text">Message about the client</h4>
                                        <div class="impact-card__head">Supporting forests</div>
                                    </div>
                                    <div class="impact-card">
                                        <img src="./images/otters-wide.PNG" />
                                        <h4 class="impact-card__text">Message about the client</h4>
                                        <div class="impact-card__head">Cleaner Education</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                <!-- 4 page starts -->
                <!-- 5 page starts -->
                <article class="splide__slide">
                    <section class="impact-page__5">
                        <div class="nv-d-flex nv-flex-wrap tablet:nv-flex-wrap text-center">
                            <div class="nv-flex-fill">
                                <div class="image animate">
                                    <img src="./images/sdg-logo.png" alt="" class="sdg-main-logo" />
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-1.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Hungry</span> -->

                                    <img src="https://images.pexels.com/photos/1058068/pexels-photo-1058068.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" />
                                    <div class="description">
                                        <p>No more Hungry</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-2.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Health</span> -->

                                    <img src="https://images.pexels.com/photos/8875617/pexels-photo-8875617.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" />
                                    <div class="description">
                                        <p>Health and well being</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-4.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Education</span> -->

                                    <img src="https://images.pexels.com/photos/8948347/pexels-photo-8948347.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" />
                                    <div class="description">
                                        <p>Education for all</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-8.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">pure water</span> -->

                                    <img src="https://www.hrw.org/sites/default/files/media_2020/10/202008-poverty-inequality.jpg" />
                                    <div class="description">
                                        <p>Pure water to drink</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-12.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Energy</span> -->

                                    <img src="https://www.greenpeace.org/static/planet4-india-stateless/2018/05/Dharnai_VM-0105.jpg" />
                                    <div class="description">
                                        <p>Clean energy for everyone</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-13.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Life below water</span> -->

                                    <img src="https://oceana.org/sites/default/files/styles/large_1000x643/public/marinemammals.jpg?itok=nXVHTWea" />
                                    <div class="description">
                                        <p>Life under water for animals</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nv-flex-fill">
                                <img src="./images/sdg-15.png" alt="" />
                                <div class="image animate">
                                    <!-- <span class="card-title">Sustainable Cities</span> -->

                                    <img src="https://www.construction21.org/data/sources/users/31503/20210331063842-image-comm-1-mannedorf-bis.jpg" />
                                    <div class="description">
                                        <p>Sustainable Citites for everyone</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                <!-- 5 page starts -->
                <!-- 6 page starts -->
                <article class="splide__slide">
                    <section class="impact-page__6 vh-100 desktop:nv-d-flex desktop:nv-justify-content-center desktop:nv-align-items-center bg-light">
                        <div class="carousel vh-100">
                            <div class="carousel__nav">
                                <span id="moveLeft" class="carousel__arrow">
                                    <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                                    </svg>
                                </span>
                                <span id="moveRight" class="carousel__arrow">
                                    <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                    </svg>
                                </span>
                            </div>
                            <div class="carousel-item carousel-item--1">
                                <div class="carousel-item__image">
                                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_tkM0Bo.json" background="transparent" speed="1" loop autoplay></lottie-player>
                                </div>
                                <div class="carousel-item__info">
                                    <div class="carousel-item__container">
                                        <h1 class="carousel-item__title"><span class="text-green">We have erased our Carbon Footprint,</span> <span class="text-navy">Have you?</span></h1>
                                        <button class="carousel-item__btn mobile:nv-col-12 tablet:nv-col-6 tablet:mar-h-auto desktop:nv-col-12 next mar-t-40">Erase the footprint for my stay</button>

                                        <div class="indicator-nav">
                                            <span class="indicator-item active"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item carousel-item--2">
                                <div class="carousel-item__image"></div>
                                <div class="carousel-item__info">
                                    <div class="carousel-item__container">
                                        <h2 class="carousel-item__subtitle font-weight-bold mar-t-30">project</h2>
                                        <h1 class="carousel-item__title"><span class="text-navy">Castañero,</span> <span class="text-green">Peru</span></h1>
                                        <div class="nv-row">
                                            <div class="nv-col-12 tablet:nv-col-6 desktop:nv-col-12">
                                                <p class="text-small carousel-item__description mar-v-10">Supports</p>
                                                <ul class="mar-0 pad-0 mar-b-15 pad-l-20 text-smallest">
                                                    <li>300,000 Hectares of forest land</li>
                                                    <li>49 endangered species</li>
                                                    <li>Endemic Plant species</li>
                                                    <li>405 families</li>
                                                </ul>
                                            </div>
                                            <div class="nv-col-12 tablet:nv-col-6 desktop:nv-col-12">
                                                <p class="text-small carousel-item__description mar-v-10">With 10 Euros,You can</p>
                                                <ul class="mar-0 pad-0 mar-b-15 pad-l-20 text-smallest">
                                                    <li>Support Castañero & all its beneficiaries</li>
                                                    <li>Receive a shareable certificate valid globally</li>
                                                    <li>Win a chance to be Reflora’s sustain-enabler of the year</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <button class="carousel-item__btn mobile:nv-col-12 tablet:nv-col-6 tablet:mar-h-auto desktop:nv-col-12 next">Buy now</button>

                                        <div class="indicator-nav">
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item active"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item carousel-item--3">
                                <div class="carousel-item__image"></div>
                                <div class="carousel-item__info">
                                    <div class="carousel-item__container">
                                        <h1 class="carousel-item__title">
                                            <span class="text-green">Erase</span> <br />
                                            <span class="text-navy"> My Footprint</span>
                                        </h1>
                                        <form action="" class="mar-v-30">
                                            <div class="nv-row">
                                                <div class="nv-col-12 tablet:nv-col-6 desktop:nv-col-12">
                                                    <input type="text" placeholder="Name" />
                                                </div>
                                                <div class="nv-col-12 tablet:nv-col-6 desktop:nv-col-12">
                                                    <input type="text" placeholder="Email" />
                                                </div>
                                                <div class="nv-col-12 tablet:nv-col-6 desktop:nv-col-12">
                                                    <input type="text" placeholder="Card No" />
                                                </div>

                                                <div class="nv-col-4 tablet:nv-col-2 desktop:nv-col-4">
                                                    <input type="text" placeholder="MM" />
                                                </div>
                                                <div class="nv-col-4 tablet:nv-col-2 desktop:nv-col-4">
                                                    <input type="text" placeholder="YYYY" />
                                                </div>
                                                <div class="nv-col-4 tablet:nv-col-2 desktop:nv-col-4">
                                                    <input type="text" placeholder="CVV" />
                                                </div>
                                            </div>
                                        </form>
                                        <button class="carousel-item__btn mobile:nv-col-12 tablet:nv-col-6 tablet:mar-h-auto desktop:nv-col-12 next">Buy for 10 Euros</button>
                                        <div class="indicator-nav">
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item active"></span>
                                            <span class="indicator-item"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item carousel-item--4">
                                <div class="carousel-item__image"></div>
                                <div class="carousel-item__info">
                                    <div class="carousel-item__container">
                                        <h2 class="carousel-item__subtitle text-center mar-t-30">Certificate</h2>
                                        <h1 class="carousel-item__title text-center"><span class="text-navy">Title Goes Here</span></h1>

                                        <div class="mar-v-0">
                                            <p class="mar-v-20 text-center text-green font-weight-bold">
                                                Share with:
                                            </p>
                                            <ul class="list-unstyled nv-d-flex heading-2 nv-justify-content-center social-links">
                                                <li class="pad-10">
                                                    <a class="text-navy" href="#"><i class="bi bi-facebook"></i></a>
                                                </li>
                                                <li class="pad-10">
                                                    <a class="text-navy" href="#"><i class="bi bi-instagram"></i></a>
                                                </li>
                                                <li class="pad-10">
                                                    <a class="text-navy" href="#"><i class="bi bi-twitter"></i></a>
                                                </li>
                                                <li class="pad-10">
                                                    <a class="text-navy" href="#"><i class="bi bi-linkedin"></i></a>
                                                </li>
                                                <li class="pad-10">
                                                    <a class="text-navy" href="#"><i class="bi bi-cloud-download"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="indicator-nav">
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item"></span>
                                            <span class="indicator-item active"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>

                <!-- 6 page starts -->
            </div>
        </main>
        <script src="./../build/script.js"></script>
    </body>
</html>
