@font-face {
  font-family: 'reflora';
  src:  url('./../fonts/reflora.eot?fuznbt');
  src:  url('./../fonts/reflora.eot?fuznbt#iefix') format('embedded-opentype'),
    url('./../fonts/reflora.ttf?fuznbt') format('truetype'),
    url('./../fonts/reflora.woff?fuznbt') format('woff'),
    url('./../fonts/reflora.svg?fuznbt#reflora') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nv-"], [class*=" nv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reflora' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nv-aeroplane:before {
  content: "\e900";
}
.nv-boat:before {
  content: "\e901";
}
.nv-breakfast:before {
  content: "\e902";
}
.nv-burn-oil:before {
  content: "\e903";
}
.nv-bus:before {
  content: "\e904";
}
.nv-butane:before {
  content: "\e905";
}
.nv-car:before {
  content: "\e906";
}
.nv-cargoship:before {
  content: "\e907";
}
.nv-coal:before {
  content: "\e908";
}
.nv-cycle:before {
  content: "\e909";
}
.nv-diesel:before {
  content: "\e90a";
}
.nv-dinner:before {
  content: "\e90b";
}
.nv-drinks:before {
  content: "\e90c";
}
.nv-electricity:before {
  content: "\e90d";
}
.nv-fabric:before {
  content: "\e90e";
}
.nv-fridge:before {
  content: "\e90f";
}
.nv-fuel-oil:before {
  content: "\e910";
}
.nv-gas:before {
  content: "\e911";
}
.nv-gasoline:before {
  content: "\e912";
}
.nv-glass:before {
  content: "\e913";
}
.nv-hotel:before {
  content: "\e914";
}
.nv-industry:before {
  content: "\e915";
}
.nv-laundry:before {
  content: "\e916";
}
.nv-LPG:before {
  content: "\e917";
}
.nv-lunch:before {
  content: "\e918";
}
.nv-metal:before {
  content: "\e919";
}
.nv-motorbike:before {
  content: "\e91a";
}
.nv-one:before {
  content: "\e91b";
}
.nv-organic:before {
  content: "\e91c";
}
.nv-paper:before {
  content: "\e91d";
}
.nv-plastic:before {
  content: "\e91e";
}
.nv-propane:before {
  content: "\e91f";
}
.nv-rail:before {
  content: "\e920";
}
.nv-snacks:before {
  content: "\e921";
}
.nv-three:before {
  content: "\e922";
}
.nv-train:before {
  content: "\e923";
}
.nv-two:before {
  content: "\e924";
}
.nv-van:before {
  content: "\e925";
}
.nv-vehicle:before {
  content: "\e926";
}
